* {
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #021528;
    display: grid;
    grid-template-columns: 260px 1fr; /* Sidebar takes 250px, the rest is for content */
    grid-template-rows: 100vh; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex: 1;
}

menu{
    width: 100vw;
    min-height: 100vh;
    padding-left: 0px;
}

/*Top panel*/
.top {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #1a222e;
    background-attachment: scroll;
    background-clip:border-box;
    background-size: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1;
}

img {
    width: 200px;
    max-width: fit-content;
    vertical-align: middle;
    height: 75px;
    object-fit: cover;
    box-sizing: border-box;
    text-align: right;
}

.logo {
    white-space: nowrap;
    color:rgba(236, 235, 229, 0.75);
    box-sizing: border-box;
    margin-top: 20px;
    
}

.q, .c, .e, .dot {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 28px;
}

.c, .e {
    list-style-image: initial; 
}

/*Side panel*/
.side {
    box-sizing: border-box;
    float: left;
    width: 250px;
    background-color:#021528;
    color: #ECEBE5;
    margin-top: 70px;
    padding: 20px;
    padding-left: 0px;
    background-color: #021528;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-position: outside;
    border-right-color: #1a222e;
    border-right-style: solid;
    border-right-width: 2px;
    overflow-x: hidden;
    position: fixed; 
    top: 0;
    left: 0; 
    height: 100%;
    z-index: 0;
}

.side li {
    list-style-type: none;
}

.side li a {
    display: flex;
    background-attachment: scroll;
    background-clip: border-box;
    text-decoration: none;
    background-size: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0.8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 30px;
    margin-left: 15px;
    position: relative;
}

a:link, a:visited {
    color: #ECEBE5;
}

a:hover, a:active {
    color:#4EDF86;
}

/*Main panel*/
main{
    margin-top: 100px;
    padding: 0px;
    color: #ECEBE5;
    font-size: 16px;
    font-weight: 400;
}

/*Home section*/
.home{
    text-align: center;
    background-image: url(home_background-img-70.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    height: 540px;
    padding-top: 100px;
    text-align: center;
}

h1{
    box-sizing: border-box;
    display: block;
    color: #ECEBE5;
    font-size: 48px;
    font-weight: bold;
    line-height: 50.4px;
    margin-bottom: 8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    text-size-adjust: 100%;
}

.typewriter {
    font-size: 50px;
}

.location {
    box-sizing: border-box;
    display: block;
    color: #ECEBE5;
    font-size: 28px;
    font-weight: 200;
    line-height: 50.4px;
    margin-bottom: 8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    text-size-adjust: 100%;
}

.intro {
    margin-top: 80px;
}

.hire {
    background-color: transparent;
    border-bottom-color:#21CC7F;
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 800px;
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-left-color:#21CC7F;
    border-left-style: solid;
    border-left-width: 1.6px;
    border-right-color: #21CC7F;
    border-right-style: solid;
    border-right-width: 1.6px;
    border-top-color: #21CC7F;
    border-top-left-radius: 800px;
    border-top-right-radius: 800px;
    border-top-style: solid;
    border-top-width: 1.6px;
    box-shadow: none;
    box-sizing: border-box;
    color:#21CC7F;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12.96px;
    padding-bottom: 12.96px;
    margin-top: 8px;
    text-align: center;
    text-decoration-color: #21CC7F;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%; 
    vertical-align: middle;
}

.hire a {
    color:#21CC7F;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.hire a:link, .hire a:visited, .hire a:hover, .hire a:active {
    color: #21CC7F;
}

.hire:hover { 
    background-color: #21CC7F;
    cursor: pointer;
}

.hire:hover a {
    color: #ECEBE5;
}