* {
    font-family: 'Poppins', sans-serif;
}
/*Top panel*/
.top {
    display: flex;
    margin: 0px 10px;
    padding: 16px 16px;
    background-color: #1a222e;
    background-attachment: scroll;
    background-clip:border-box;
    background-size: auto;
    box-sizing: border-box;
}

img {
    width: 200px;
    max-width: fit-content;
    vertical-align: middle;
    height: 100px;
    object-fit: cover;
    box-sizing: border-box;
    text-align: right;
}

.logo {
    white-space: nowrap;
    color:rgba(236, 235, 229, 0.75);
    box-sizing: border-box;
    margin-top: 40px;
    
}

.q, .c, .e, .dot {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 28px;
}

.c, .e {
    list-style-image: initial; 
}

/*Side panel*/
.side {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021528;
}

.side li {
    list-style-type: none;
}

.side li a {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

a:link, a:visited {
    color: #ECEBE5;
}

a:hover, a:active {
    color:#4EDF86;
}
