* {
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #021528;
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar takes 250px, the rest is for content */
    grid-template-rows: 100vh; 
}

.container {
    display: flex;
    flex: 1;
}

menu{
    width: 100vw;
    min-height: 100vh;
}

/*Top panel*/
.top {
    display: flex;
    padding: 16px 16px;
    background-color: #1a222e;
    background-attachment: scroll;
    background-clip:border-box;
    background-size: auto;
    box-sizing: border-box;
}

img {
    width: 200px;
    max-width: fit-content;
    vertical-align: middle;
    height: 100px;
    object-fit: cover;
    box-sizing: border-box;
    text-align: right;
}

.logo {
    white-space: nowrap;
    color:rgba(236, 235, 229, 0.75);
    box-sizing: border-box;
    margin-top: 40px;
    
}

.q, .c, .e, .dot {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 28px;
}

.c, .e {
    list-style-image: initial; 
}

/*Side panel*/
.side {
    float: left;
    width: 250px;
    background-color:#021528;
    color: #ECEBE5;
    padding: 20px;
}

.side li {
    list-style-type: none;
}

.side li a {
    display: flex;
    background-attachment: scroll;
    background-clip: border-box;
    text-decoration: none;
    background-size: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0.8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 30px;
    position: relative;
}

a:link, a:visited {
    color: #ECEBE5;
}

a:hover, a:active {
    color:#4EDF86;
}

/*Main panel*/
main {
    margin-left: 350px;
    padding: 20px;
    color: #ECEBE5;
}

